# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.metadata
*.lock

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Pods/
macos/.symlinks/

# Web
web/

# Assets
assets/models/*.tflite

# IDE
.vscode/
*.swp
*.swo
